@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Dongle:wght@700&family=Encode+Sans:wght@500&family=Montserrat&family=Poppins:wght@400;500&family=Roboto+Condensed:wght@700&family=Roboto:wght@500&family=Ubuntu:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* navber start  */

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  padding: 0 2rem 0 5rem;
}

#logo {
  color: rgb(245, 4, 125);
}

#navbarSupportedContent {
  padding-right: 90px;
}

.nav-link {
  font-family: "Roboto", cursive;
  text-transform: uppercase;
  font-weight: 100;

  color: black;
}

#navbarSupportedContent ul > li a {
  color: rgb(3, 3, 5);
  padding: 1.7rem;
}

#navbarSupportedContent ul > li a:hover {
  color: rgb(204, 32, 69);
}

/* navber ends  */
